<!DOCTYPE configuration>
<configuration scan="true" scanPeriod="300 seconds">
	<property name="APP_NAME" value="REP_RURALVIA_REST" />
	<property name="SERVER_NAME" value="${weblogic.Name}" />
	<property name="LOG_DIRECTORY" value="/u01/Tes/middleware/logs/Internet/${APP_NAME}/${APP_NAME}/" />
	<conversionRule conversionWord="th_id" 
                  converterClass="com.rsi.rvia.rest.logback.LogBackThreadConverter" />
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<Target>System.out</Target>
		<encoder class="com.rsi.logback.layout.ExtendedPatternLayoutEncoder">
			<pattern>*%d{yyyy-MM-dd HH:mm:ss.SSSS} ${SERVER_NAME}:[%th_id]\t%-5level\t%class{0}:%method\t- %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<prudent>true</prudent>
		<encoder class="com.rsi.logback.layout.ExtendedPatternLayoutEncoder">
			<pattern>*%d{yyyy-MM-dd HH:mm:ss.SSSS} ${SERVER_NAME}:[%th_id]\t%-5level\t%class{0}:%method\t- %msg%n</pattern>
		</encoder>
		<file>${LOG_DIRECTORY}${APP_NAME}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${LOG_DIRECTORY}${APP_NAME}-%d{yyyy-MM-dd}.%i.log</fileNamePattern>		
      		<maxFileSize>30MB</maxFileSize>    
	      	<maxHistory>30</maxHistory>
	      	<totalSizeCap>5GB</totalSizeCap>      		
		</rollingPolicy>
	</appender>
	<root level="TRACE">
		<appender-ref ref="file" />
	</root>
</configuration>