<!DOCTYPE html>
<html>
<head>
</head>
<body>

<p>Remitimos los datos de la simulación de un préstamo personal realizado en la web del simulador.<br/>
Se adjunta documento, en formato PDF, con la simulación elegida por el usuario y sus datos de contacto.</p>
<h3>DATOS DE CONTACTO</h3>
<p><span style="font-weight:bold">Nombre completo:</span> <%EmailUserName%><br/>
<p><span style="font-weight:bold">E-mail:</span> <%EmailMail%><br/>
<p><span style="font-weight:bold">Teléfono:</span> <%EmailTelephone%><br/>
<p><span style="font-weight:bold">Solicitud Préstamo Personal:</span> <%ComercialName%><br/>
<p><span style="font-weight:bold">Comentario:</span><br/>
<%EmailComment%></p>
<p>El usuario ha leído y aceptado las condiciones del servicio.<br/>
El usuario ha realizado la validación CAPTCHA.</p>
<p><span style="font-weight:bold">Entidad:</span> <%NRBEName%></p>
<p><span style="font-style: italic;font-size:small">Este mensaje y, en su caso, los ficheros anexos son confidenciales, especialmente en lo que respecta a los datos personales, y se dirigen exclusivamente al destinatario referenciado. Si usted no lo es y lo ha recibido por error o tiene conocimiento del mismo por cualquier motivo, le rogamos que nos lo comunique por este medio y proceda a destruirlo o borrarlo, y que en todo caso se abstenga de utilizar, reproducir, alterar, archivar o comunicar a terceros el presente mensaje y ficheros anexos, todo ello bajo pena de incurrir en responsabilidades legales.<br/>
<br/>
Por favor cuida el medio ambiente y no imprimas este correo salvo que resulte necesario.<br/>
------------------------</span></p>
</body>
</html>
