build/
dist/
bin/
static/
reports/
.settings/
.classpath
.DS_Store
.gitignore
WebContent/static
local.properties
application.properties
configurations/application.properties
configurations/application{DESA}.properties
configurations/Banca.OracleConfig{DESA}.properties
configurations/CIP.OracleConfig{DESA}.properties
configurations/logback{DESA}.xml
configurations/MySqlConfig{DESA}.properties
configurations/simulator.email{DESA}.properties
configurations/simulator.pdf{DESA}.properties
WebContent/WEB-INF/web{DESA}.xml
/bin
