build/
dist/
static/
reports/
.settings/
.classpath
.DS_Store
.gitignore
bin/
WebContent/static
application.properties
local.properties
configurations/CIP.OracleConfig.properties
configurations/application{DESA}.properties
configurations/Banca.OracleConfig{DESA}.properties
configurations/CIP.OracleConfig{DESA}.properties
configurations/logback{DESA}.xml
configurations/MySqlConfig{DESA}.properties
configurations/simulator.email{DESA}.properties
configurations/simulator.pdf{DESA}.properties
WebContent/WEB-INF/web{DESA}.xml
/bin/
/bin/
