build/
dist/
static/
reports/
.settings/
.classpath
.DS_Store
.gitignore
bin/
WebContent/static
application.properties
local.properties
configurations/Banca.OracleConfig.properties
configurations/CIP.OracleConfig.properties
