<!DOCTYPE html>
<html>
<head>
      <meta charset="utf-8"/>
      <title>Cashier Sample</title>
      <style>
      body{
			font-family: Arial, "sans-serif";
			padding: 5px 5px 5px;
		}
      .button {
			background-color: #71c100;
			border: none;
			color: white;
			padding: 10px 20px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 14px;
			margin: 4px 2px;
			cursor: pointer;
			width: 170px;
		} 
		.button:hover:enabled {
			background-color: #2ABB04;
			font-style: italic;
		}

		.button:active:enabled {
			background-color: white;
			color: #71c100;
		}		
		.button span {
			cursor: pointer;
			display: inline-block;
			position: relative;
			transition: 0.5s;
		}
		
		.button span:after {
			content: '>';
			position: absolute;
			opacity: 0;
			top: 0;
			right: -20px;
			transition: 0.5s;
		}
		
		.button:hover:enabled span {
			padding-right: 25px;
		}
		
		.button:hover:enabled span:after {
			opacity: 1;
			right: 0;
		}
		</style>
</head>
<body style="background-color: #AAFFFF">

<div id="formulario" style="text-align: center;margin-top: 30px;"> 
  <button  onclick="getCashierClose()" class="button">Buscar cajeros</button>
  <button  onclick="reloadPage()" class="button">Recargar página</button>
</div>
<hr>
<div id="resultado" style="display:none;margin-top:10px">


</div>

<script type="text/javascript">

function reloadPage()
{
	$('<form action="/api/rest/test/cashierLocatior" method="get"></form>').appendTo('body').submit();
}

function getCashierClose() {
      console.log("Entrando en getCashierClose");
      var strLatitud = '40.5991253';
      var strLongitud = '-3.7030169';
      var strCodigoEntidad = '3016';
      var strRadio = '20';

      var dataGet = {};
      dataGet.codigoEntidad = strCodigoEntidad;
      dataGet.longitud = strLongitud;
      dataGet.latitud = strLatitud;
      dataGet.radio = strRadio;

      $.ajax({
            url : '/api/rest/test/cashierLocatior',
            data : dataGet,
            type : 'GET',
            dataType : 'json',
            success : loadDataMap,
            error : function(xhr, status) {
                  console.log("Error al procesar la llamada ajax. xhr" + xhr + " - status: " + status);
            }
      });

      function loadDataMap(json){
    	  	var html ="";
            var listCashier = json.response.data.ListaCajeros;
            var cajero = listCashier[0];
            var strMap = getMap(json,strLatitud,strLongitud);
    	  	html += '\n<div style="border:1px solid gray;">\n';
    	  	html += '<p>El cajero más cercano a RSI es:</p>\n';
    	  	html += '<span id="spanNearest">\n';
    	  	html += 'Cajero de ' + cajero.nombreEntidad + '(' + cajero.codigoEntidad + ') en la calle ' + cajero.direccion + ' en ' + 
          			 cajero.nombreLocalidad + ' (' + cajero.codigoPostal +'), está a ' + cajero.distancia + 
            	     ' metros de RSI y cobra una decomisión de ' + cajero.comision + '€';
    	  	html += '</span>\n';
    	  	html += '<br></br>';	
        	html += '<p>Aqui tienees un mapa con los cajeros alrededor:</p>\n';
        	html += '<div style="text-align: center;">\n';
        	html += '<img id="imgMap" src="' + strMap + '"/>\n';
        	html += '</div>\n';
            $('#resultado').append(html);
            $('#resultado').show();        
      }
}

function getMap(json,latitud,longitud){
      var APIkey = "&key=AIzaSyCShs_SweSfuTGvp6H068K0EUGKcy-4D7s";
      var urlBase = "https://maps.googleapis.com/maps/api/staticmap?center=";
      var urlConfig = "&zoom=10&size=550x400&sensor=false";
      var listCashier = json.response.data.ListaCajeros;
      var strMarkers = "";
      for (cajero in listCashier) {
          strMarkers += getMarker(listCashier[cajero].latitud,listCashier[cajero].longitud, 'green');
      }
      strMarkers += getMarker(latitud,longitud, 'red');
      var imgUrl = urlBase + latitud + "," + longitud + urlConfig + strMarkers + APIkey;
      return  imgUrl;
}
function getMarker(latitud,longitud, color) {
      return "&markers=color:" + color + "%7C" + latitud + ',' + longitud;
}
function getData() {
      var strCodigoEntidad = $("#codigoEntidad").val();
      var strLongitud = $("#longitud").val();
      var strLatitud =  $("#latitud").val();
      var strRadio = $("#radio").val();


      var dataGet = {};
      dataGet.codigoEntidad = strCodigoEntidad;
      dataGet.longitud = strLongitud;
      dataGet.latitud = strLatitud;
      dataGet.radio = strRadio;
      $.ajax({
            url : '/api/rest/test/cashierLocatior',
            data : dataGet,
            type : 'GET',
            dataType : 'json',
            success : loadData,
            error : function(xhr, status) {
                  console.log("Error al procesar la llamada ajax. xhr" + xhr + " - status: " + status);
            }
      });
      console.log("Llamada ajax normal terminada.");
}

function loadData(pJson){
      console.log('Datos recuperados correctamente.');
      var strList = addContent(pJson);

      $("#contenido").html(strList);
      $("li").first().show( "fast", function showNext() {
            $( this ).next( "li" ).show( "fast", showNext );
       });
}
function addContent(json) {
      var strReturn = '';
      strReturn += '<ul class="collection">';
      var listCashier = json.response.data.ListaCajeros;
      if(Array.isArray(listCashier)){
            for (cajero in listCashier ) {
                  strReturn += prepareContent(listCashier[cajero]);
            }
      }else{
            strReturn += prepareContent(listCashier);
      }
      strReturn += '</ul>';
      return strReturn;
}

function prepareContent(object) {
      var strReturn = "";
      strReturn += '<li class="collection-item id="itemList" style="display:none;">';
      strReturn += '<span class="title">'+ object.nombreEntidad +'</span>';
      strReturn += '<p>';
      strReturn += '<div class="chip">'+ object.codigoEntidad +'</div><div class="chip">'+ object.codigoCajeros +'</div>';
      strReturn += '<div class="chip">'+ object.direccion +'</div><div class="chip">'+ object.codigoPostal +'</div>';
      strReturn += '<div class="chip">'+ object.indicadorCajero +'</div><div class="chip">'+ object.indicadorComision +'</div>';
      strReturn += '<div class="chip">'+ object.longitud +'</div><div class="chip">'+ object.latitud +'</div>';
      strReturn += '<div class="chip">'+ object.distancia +'</div><div class="chip">'+ object.nombreLocalidad +'</div>';
      strReturn += '</p>';
      strReturn += '<span class="secondary-content">'+ object.comision +'</span>';
      strReturn += '</li>';
      return strReturn;
}

var pJsonOk = '__JSONDATA__';

 
</script>
</body>
</html>