<!DOCTYPE >
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Simulador</title>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script>
var importe = 100;
var plazo = 1;
var calculo = -1;
var calcularPrestamo;

$(document).ready(function() {
	
	loadAlgorithm();
	
	$('#slider1').val(importe);
	$('#slider2').val(plazo);
	
	$('#slider1').on("change mousemove", function() {
		importe = $('#slider1').val();
		$('#spanImporte').html(importe);
		calcular();
	});
	
	$('#slider2').on("change mousemove", function() {
		plazo = $('#slider2').val();
		$('#spanPlazo').html(plazo);
		calcular();
	});
});

function loadAlgorithm()
{
	var dataGet = {};
	dataGet.codEntidad = "9997";
	dataGet.funciones = "calculateMortgageFee";
	  $.ajax({
		    type: "GET",
		    url: "/api/rest/test/simuladores",
		    data: dataGet,
		    async : false,
		    dataType: "JSON",
		    success: function (json)
		    {
		    	var response = json;
		    	var strFucntion = json.response.data.calculateMortgageFee;
		    	eval(strFucntion);
		    	window.calculateMortgageFee = calculateMortgageFee;
		    },
		    error: function(xhr, textStatus, errorThrown) {
				console.log('ERROR: ' + textStatus + ' - ' + errorThrown);
		    }
		  });
}

function calcular ()
{
	var response = calculateMortgageFee({param_initialAmountInput:this.importe,param_interestInput:3,param_yearsInput:1,param_paymentsInput:this.plazo});
	$('#spanResutlado').html(response.fee);
	
	var html = '<tr>';
	html += '<th>Mensualidad</th>';
	html += '<th>Interes</th>';
	html += '<th>Cuota Amort</th>';
	html += '<th>Capital rest.</th>';
	html += '<th>Importe Acumulado.</th>';
	html += '</tr>';
	$('#tableResutlado').html(html);
	
	for (var i =0; i < response.tableData.length; i++)
	{
		var mensualidad = response.tableData[i];
		html = '<tr>';
		html += '<td><span>' + mensualidad.paymentNumber + '</span></td>';
		html += '<td><span>' + mensualidad.interest + '€</span></td>';
		html += '<td><span>' + mensualidad.capital + '€</span></td>';
		html += '<td><span>' + mensualidad.finalAmount + '€</span></td>';
		html += '<td><span>' + mensualidad.accruedInterest + '€</span></td>';
		html += '</tr>';
		$('#tableResutlado').append(html);
	}
}
	
</script>
</head>
<body>


Importe: <input id="slider1" type="range" min="0" max="200000" step="50000" style="width:450px"/> <span id="spanImporte"> </span> €<br>
Plazo: <input id="slider2" type="range" min="1" max="48" step="1" style="width:450px"/> <span id="spanPlazo"></span> meses<br>
</br></br>
Resultado: <span id="spanResutlado"></span> €/mes</br>
tabla amortización: <table id="tableResutlado">
					<tr>
						<th>Mensualidad</th>
						<th>Interes</th>
						<th>Cuota Amort.</th>
						<th>Capital rest.</th>
						<th>Interes acumulado</th>
					</table>

</body>

</html>