<!DOCTYPE html>
<html>
<head>
     <meta charset="utf-8"/>
	<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
</head>
<body>
<script>
var json = '__JSONDATA__';

$(document).ready(function() {
	loadData();
});

function loadData()
{
	var cuentas = json.response.data.LISCUEN;
	for (var i = 0; i < cuentas.length; i++)
	{
		var cuenta = cuentas[i];
		var ccc = cuenta.CUENTA;
		var alias = cuenta.DESCR;
		var html = '<div> ' + alias + " - " + ccc + '<button onclick="enviar(' + ccc + ');"/> Seleccionar </div>'
		$('#cuentas').append(html);
	}
}

function enviar(ccc)
{
	$('#form1').attr('action','/api/rest/domiciliations/transmitter/' + ccc)
	$('#form1').submit();
}
</script>

PASO 1 - Escoger cuenta

<div id="cuentas">
</div>

<form id="form1" action="" method="get">
</form>

</body>
</html>