<!DOCTYPE html>
<html>
<head>
     <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
</head>
<body>
<script>
var json = '__JSONDATA__';

$(document).ready(function() {
	loadData();
});

function loadData()
{
	   var cuentas = json.response.data.LISCUEN;
	    for (var i = 0; i < cuentas.length; i++) {
	        var cuenta = cuentas[i];
	        var ccc = cuenta.CUENTA;
	        var alias = cuenta.DESCR;
	        var tipo = 'B';
	        var html = '<div class="cuenta" id="' + ccc + '"><div>' + alias + "</div><div>" + ccc + '</div></div>';     
	        var form=getElement('form',{
	            action: 'http://localhost:8080/api/rest/domiciliations/' + ccc + '/transmitter'
	        })      
	        form.appendChild(getElement('input',{
	            name: 'tipo',
	            type: 'hidden',
	            value: 'B'
	        }));        
	        form.appendChild(getElement('input',{
	            name: 'cuenta',
	            type: 'hidden',
	            value: 'B'
	        }));        
	        form.appendChild(getElement('input',{
	            name: 'tipo',
	            type: 'button',
	            value: 'Enviar',
	            form: form,
	            onclick: function(){
	                this.form.submit();
	            }
	        }));              
	        form.appendChild(html);
	        $('#cuentas').append(form);
	    }
}

function enviar(ccc)
{
	$('#form2').attr('action','/api/rest/domiciliations/transmitter/' + ccc)
	$('#form2').submit();
}
</script>

PASO 2 - Escoger emisor

<div id="emisores">
</div>



</body>
</html>