<!DOCTYPE html>
<html>
<head>
     <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
</head>
<body>
<script>
var json = '__JSONDATA__';

$(document).ready(function() {
	loadData();
});

function loadData()
{
/* 	var emisores = json.response.data.LISCUEN;
	for (var i = 0; i < emisores.length; i++)
	{
		var emisor = emisores[i];
		var ccc = cuenta.CUENTA;
		var alias = cuenta.DESCR;
		var html = '<div> ' + alias + " - " + ccc + '<button onclick="enviar(' + ccc + ');"/></div>'
		$('#emisores').append(html);
	} */
}

function enviar(ccc)
{
	$('#form2').attr('action','/api/rest/domiciliations/transmitter/' + ccc)
	$('#form2').submit();
}
</script>

PASO 2 - Escoger emisor

<div id="emisores">
</div>

<form id="form2" action="" method="get">
</form>

</body>
</html>