<!DOCTYPE html>
<html>
<head>
     <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <!--  <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script> -->
    <style type="text/css">
    body {
        font-family: sans-serif;
    }
    .cuenta {
        padding: 5px 10px;
    }
    .cuenta:nth-child(odd) {
        background-color: #ddd;
    }
    .cuenta div:first-child {
        margin-bottom: 5px;
    }
    .cajatexto{
       width: 200px;
    }
    </style>
    <script>
var json = '__JSONDATA__';


function getElement(t,c){
    var e=document.createElement(t);
    for(var i in c){
        e[i]=c[i];
    }
    return e;
}
function loadData() {
    var cuentas = json.response.data.LISCUEN;
    
    for (var i = 0; i < cuentas.length; i++) {
        var cuenta = cuentas[i];
        var ccc = cuenta.CUENTA;
        var alias = cuenta.DESCR;
        var tipo = 'B';
        var form=getElement('form',{
            action: 'http://localhost:8080/api/rest/domiciliations/' + ccc + '/transmitter'
        });              
        form.appendChild(getElement('input',{
            name: 'tipo',
            type: 'hidden',
            value: 'B'
        }));        
        form.appendChild(getElement('input',{
            name: 'cuenta',
            type: 'hidden',
            value: ccc
        }));     
        
        form.appendChild(getElement('input',{
            name: 'decri',
            type: 'text',
            value: alias,
            className: 'cajatexto',
            disabled: true
        }));
        
        form.appendChild(getElement('input',{
            type: 'button',
            value: 'Enviar',
            form: form,
            onclick: function(){
                this.form.submit();
            }
        }));              
        document.body.appendChild(form);
    }
}
</script>
</head>
<body onload='loadData()'>


<h3>PASO 1 - Escoger cuenta</h3>




</body>
</html>